/*Fonts*/
@font-face {
    font-family: "DM Serif Display";
    src: url("../fonts/DMSerifDisplay-Regular.eot");
    src: url("../fonts/DMSerifDisplay-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"),
        url("../fonts/DMSerifDisplay-Regular.woff") format("woff"),
        url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype"),
        url("../fonts/DMSerifDisplay-Regular.svg#DMSerifDisplay-Regular")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Light.eot");
    src: url("../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Light.woff2") format("woff2"),
        url("../fonts/Rubik-Light.woff") format("woff"),
        url("../fonts/Rubik-Light.ttf") format("truetype"),
        url("../fonts/Rubik-Light.svg#Rubik-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Bold.eot");
    src: url("../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Bold.woff2") format("woff2"),
        url("../fonts/Rubik-Bold.woff") format("woff"),
        url("../fonts/Rubik-Bold.ttf") format("truetype"),
        url("../fonts/Rubik-Bold.svg#Rubik-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Medium.eot");
    src: url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Medium.woff2") format("woff2"),
        url("../fonts/Rubik-Medium.woff") format("woff"),
        url("../fonts/Rubik-Medium.ttf") format("truetype"),
        url("../fonts/Rubik-Medium.svg#Rubik-Medium") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.eot");
    src: url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/Rubik-Regular.woff") format("woff"),
        url("../fonts/Rubik-Regular.ttf") format("truetype"),
        url("../fonts/Rubik-Regular.svg#Rubik-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Miscellanoeous */
body,
html {
    overflow-x: hidden;
    padding-right: 0 !important;
}

*:-moz-full-screen,
*:-webkit-full-screen,
*:fullscreen *:-ms-fullscreen {
    overflow: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "DM Serif Display";
    font-weight: 600;
    letter-spacing: 0.36px;
    color: #121212;
}

ul {
    list-style-type: none !important;
    padding-left: 0;
    margin: 0;
}

a {
    outline: 0;
    transition: all 0.5s;
    color: #191919;
    letter-spacing: 0.36px;
    font-family: "DM Serif Display";
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    outline: none !important;
    text-decoration: none;
    color: none !important;
}

ul li {
    list-style: none;
    font-family: "DM Serif Display";
}

ul {
    padding-left: 0px;
}

p {
    color: #121212;
    line-height: 1.8em;
    font-weight: 300;
    font-family: "Rubik";
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.2px;
}



.blogs-section .owl-theme .owl-controls .owl-nav [class*="owl-"] {
    font-size: 14px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    width: 85px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 1px solid #c2c2c2;
    background: #ebebeb !important;
    letter-spacing: 0.32px;
    color: #222 !important;
    font-family: "Rubik";
    transition: all 0.3s;
}
.blogs-section .owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
    border: 1px solid #092662;
    background: #092662 !important;
    color: #f2f2f2 !important;
}
.blogs-section .owl-controls {
    position: absolute;
    top: -85px;
    right: 0;
}
.blogs-img img {
    border-radius: 5px;
   
}
.blogs-title h5 {
    color: #222;
    letter-spacing: 0.48px;
    text-align: center;
}
.blogs-title h5 a {
    color: #222;
    transition: all 0.3s;
}
.blogs-title h5 a:hover {
    color: #2ca181;
}
.blogs-date-read-btn p,
.blogs-date-read-btn a {
    color: #121212;
    font-weight: 500;
}

.blogs-title p {
    margin-bottom: 0px;
    letter-spacing: 0.36px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.blogs-date-read-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.blogs-content-sec {
  border-radius: 0px 0px 6px 6px;
  width: 95%;
  margin: auto;
    margin-bottom: auto;
}
.blogs-title {
    margin: 0px 30px;
    margin-top: 0px;
    padding: 25px;
    background: #fff;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.1);
    margin-top: -45px !important;
    z-index: 1;
    position: relative;
}
.blogs-section {
    background-color: #ebebeb;
}
.blogs-details-content-box h3 {
  color: #2ca181;
  font-size: 30px;
  text-align: center;
  margin: 35px;
  text-transform: uppercase;
}
.blogs-content-sec:hover .blogs-date-read-btn a {
    color: #121212;
    padding: 3px 10px;
    background-color: #2ca181;
    border-radius: 2px;
}


.blogs-details-content.title h1 {
    font-size: 30px;
}
.blogs-details-content h2 {
    font-size: 25px;
}
.blogs-details-content h3 {
    font-size: 20px;
}
.blogs-details-content-box ul li {
    padding-left: 20px;
    line-height: 1.4em;
    margin-bottom: 12px;
    position: relative;
    padding-top: 0px;
    letter-spacing: 0.5px;
}
.blogs-details-content-box ul li::before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f105";
    color: #2ca181;
    position: absolute;
    top: 1px;
    font-size: 20px;
    left: 2px;
    font-weight: 900;
}
.blogs-details-content-box ul {
    padding-left: 0px;
}


